body {
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  background: #04253e;
  list-style-type: none;
  overflow: hidden;
  box-shadow: 0px 4px 8px grey;
}

.navbar li {
  float: left;
}

.navbar li:last-child {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  padding: 24px 24px;
  text-align: center;
  text-decoration: none;
  font-family: 'GeneraleStationRegular';
  font-size: 16px;
}

.icon {
  display: none;
}

.current {
  background: #010713;
}

.navbar li a:hover:not(.current), .dropdown:hover {
  background: #00a5a8;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.basic {
  transform: translate(-40px, 0);
}

.data-type {
  transform: translate(-6px, 0);
}

.total {
  transform: translate(-48px, 0);
}

.dropdown-content a {
  display: block;
  background: grey;
  color: white;
  padding: 16px 24px;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background: red;
}

.logo {
  height: 400px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%,-50%);
}

section {
  width: 100%;
  height: 90.5vh;
  background: linear-gradient(-45deg,yellow,#00a5a8,blue);
  background-size: 300% 100%;
  margin: none;
  padding: none;
  box-sizing: border-box;
  animation: change 8s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  } 50% {
    background-position: 100% 50%;
  } 100% {
    background-position: 0 50%;
  }
}

.title {
  font-size: 96px;
  background: none;
  font-family: 'GeneraleStationRegular';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

@media screen and (max-width: 800px) {
  .icon {
    display: block;
  }
  .original {
    display: none;
  }
}

.column.left {
  width: 200px;
  position: absolute;
  z-index: 1;
  background: grey;
  margin: 0;
  padding: 0;
}

.column.left a {
  color: white;
  text-decoration: none;
  font-family: 'GeneraleStationRegular';
  display: block;
  padding: 16px 16px;
  text-align: left;
}

.column.middle {
  text-align: center;
  margin-left: 200px;
}

.label {
  margin-bottom: 16px;
  font-family: 'GeneraleStationRegular';
  font-size: 16px;
}

.label:first-child {
  padding-top: 40px;
}

.label.note {
  font-size: 24px;
}

.label.instruction {
  text-align: center;
  padding-bottom: 80px;
}

.column.middle textarea {
  width: 80%;
  margin-bottom: 40px;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #010713;
  height: 160px;
  font-size: 16px;
}

.left a:hover:not(.current-page) {
  background: #00a5a8;
}

.current-page {
  background: #262627;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.steps {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
  font-family: 'GeneraleStationRegular';
}

.link-button {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    border: none;
    background: #00a5a8;
    font-family: 'GeneraleStationRegular';
    box-shadow: 0 4px #04253e;
}

.link-button:hover {
    background: #0c6388;
}
